@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

main {
  flex: 1 0 auto;
}

p {
  b {
    color: #fff;
    font-weight: 700;
  }
}

.container-main {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-mb {
  @include adaptiveValue('margin-bottom', 140, 100);
}

.price {
  font-weight: 600;
}

.deadlines {
  max-width: max-content;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #fff;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 60px;

  @media (max-width: em($tablet)) {
    gap: 20px 30px;
  }

  @media (max-width: em($mobile)) {
   grid-template-columns: 1fr;
  }

  &--scattered {
    grid-template-columns: 1fr;

    @media (min-width: em($tablet)) {
      grid-template-columns: 1fr;

      .list__item:nth-child(even) {
        margin-left: auto;
      }
    }

    @media (min-width: em($mobile)) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--col-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: em($tablet)) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: em($mobile)) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    position: relative;
    padding-left: 60px;
    max-width: 680px;

    @media (max-width: em($mobileSmall)) {
      padding-left: 45px;
    }
  }

  &__item-title {
    margin-bottom: pxToRem(8);
  }

  &__item-number {
    position: absolute;
    top: 0;
    left: 0;
    color: #9945FF;
    font-size: pxToRem(36);
    line-height: 1.2;
    font-weight: 500;

    @media (max-width: em($mobileSmall)) {
      font-size: pxToRem(28);
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width: em($mobile)) {
    gap: 8px;
  }
}
