@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

#app {}

body {
  background-color: $mainColor;
  color: $textColor;
  font-family: $fontFamily, sans-serif;
  font-size: $fontSize;
  font-weight: 400;
  line-height: 1.2;
  @include adaptiveValue('font-size', $fontSize, 16);
}