.contact {
  padding: 25px 0 0;

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    gap: 140px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(#fff, 0.3);
  }

  &__list-title {
    margin-bottom: 5px;
  }

  &__main {
    position: relative;
    padding: 100px 80px 140px;
  }

  &__decor {
    position: absolute;
    top: 50%;
    left: -220px;
    transform: translate(0, -50%);
    max-width: 1000px;
    z-index: -1;
  }

  &__form {
    max-width: 650px;
    margin-left: auto;
  }
}