@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

.btn {
  display: inline-block;
  max-width: max-content;
  padding: 10px 24px;
  border-radius: 20px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;

  @media (max-width: em($tablet)) {
    padding: 8px 15px;
    font-size: 12px;
  }

  &--full {
    max-width: 100%;
    width: 100%;
  }

  &--green {
    background-color: #14F195;
    color: #000;
    border-color: #14F195;
  }

  &--purple {
    background-color: #9945FF;
    border-color: #9945FF;
  }

  &--white {
    background-color: #fff;
    color: #000;
  }
}