.z-btn {
  display: inline-block;
  max-width: max-content;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 1px solid transparent;
  white-space: nowrap;
  text-transform: uppercase;

  &_full {
    max-width: 100%;
    width: 100%;
  }
}


.z-btn_style_default {
  border-radius: 20px;

  &.z-btn_color {
    &_green {
      background-color: #14F195;
      color: #000;
      border-color: #14F195;

      &:hover,
      &:focus {
        background-color: #000;
        color: #14F195;
        border-color: #14F195;
      }
    }

    &_purple {
      background-color: #9945FF;

      &:hover,
      &:focus {
        background-color: #fff;
        color: #9945FF;
      }
    }

    &_white {
      background-color: #fff;
      color: #000;


      &:hover,
      &:focus {
        background-color: #000;
        color: #fff;
      }
    }
  }

  &.z-btn_md {
    padding: 10px 38px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
  }
}

.z-btn_style_ghost {
  border-radius: 20px;

  &.z-btn_color {
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    &_white {
      color: #fff;
      border: 1px solid #fff;

      &:hover,
      &:focus {
        background-color: #fff;
        color: #000;
      }
    }
  }

  &.z-btn_md {
    padding: 10px 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
  }
}

.z-btn_glow {
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  color: #fff !important;

  &:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }

  &:active:after,
  &:focus:after {
    background: transparent;
  }

  &:hover:before,
  &:focus:before {
    opacity: 1;
  }

  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 20px;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
