@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

.consultation-form {
  @media (max-width: em($tablet)) {
    max-width: pxToRem(520);
  }

  &__title {
    margin-bottom: 8px;
  }

  &__input {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 15px;

    @media (max-width: em($mobileSmall)) {
      margin-bottom: 10px;
    }
  }
}