@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  padding: pxToRem(20) 15px 0;
  margin: 5px 0 0;
  background-color: #000;
  z-index: -1;
  transition: top .3s linear, transform .3s linear;

  @media (min-width: em($tablet)) {
    display: none;
  }

  &--open {
    top: 100%;
    transform: translateY(0);
    margin: 0;
  }

  &__wrapper {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(#fff, 0.3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 30px;
    height: 30px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 2px;
      height: 100%;
      background-color: #fff;
      transform: translateY(-50%);
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: pxToRem(6);
    margin-bottom: pxToRem(30);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: pxToRem(10);
  }

  &__item-link {
    padding: pxToRem(4);
    font-size: 24px;
  }
}