.product-card {
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
  background-color: #19161C;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
  }

  &__img {
    object-fit: cover;
    aspect-ratio: 1/1;
    transition: transform .3s ease;

    &:hover {
      transform: scale(1.1);;
    }
  }

  &__img-wrapper {
    display: block;
    width: 100%;
    height: 250px;
    overflow: hidden;
  }

  &__link {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: background-color .3s linear;

    &:hover {
      background-color: #fff;

      .product-card__link-icon {
          fill: #000;
      }
    }
  }

  &__link-icon {
    position: relative;
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
    fill: #fff;
    transition: fill .3s linear;
  }
}