@use '../utils/mixins' as *;

.title {
  line-height: 1.3;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

  span {
    color: #9945FF;
  }

  &--h1 {
    @include adaptiveValue('font-size', 48, 32);
  }

  &--h2 {
    font-size: 36px;
    @include adaptiveValue('font-size', 36, 28);
  }

  &--h3 {
    @include adaptiveValue('font-size', 28, 24);
  }

  &--h4 {
    @include adaptiveValue('font-size', 24, 20);
  }

  &--h5 {
    @include adaptiveValue('font-size', 20, 18);
  }

  &--h6 {
    @include adaptiveValue('font-size', 18, 16);
  }
}