@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

.footer {
  padding: pxToRem(60) 0 pxToRem(30);
  color: #fff;
  border-top: 1px solid rgba(#fff, 0.3);

  @media (max-width: em($mobile)) {
    .logo {
      justify-content: center;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: pxToRem(50);
    margin-bottom: pxToRem(40);

    @media (max-width: em($tablet)) {
      grid-template-columns: repeat(3, 1fr);
      gap: pxToRem(30);
    }

    @media (max-width: em($tablet)) {
      grid-template-columns: 1fr;
      justify-content: center;
      text-align: center;
    }

    @media (max-width: em($mobile)) {
      gap: pxToRem(20);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: pxToRem(12);

    &-item {
      transition: color .3s;
      color: #FFFFFF;
      justify-content: center;

      &_email:hover,
      &_email:focus {
        color: #C5221F;
      }

      &_tg:hover,
      &_tg:focus {
        color: #24A1DE;
      }

      &_wa:hover,
      &_wa:focus {
        color: #25D366;
      }
    }
  }
}


@media (min-width: em($mobile)) {
  .footer {
    &__list {
      &-item {
        justify-content: flex-start;
      }
    }
  }
}
