.footer {
  padding: 60px 0 30px;
  color: #fff;
  border-top: 1px solid rgba(#fff, 0.3);

  &__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}