@use '../utils/variables' as *;
@use '../utils/functions' as *;

.header {
  &__container {
    margin: 0 auto;
  }

  &__main {
    display: flex;
    align-items: center;
    gap: pxToRem(20);
    padding: 10px 10px;
    border-bottom: 1px solid rgba(#fff, 0.3);
    border-radius: 10px;

    @media (max-width: em($mobile)) {
      justify-content: space-between;
    }
  }

  &__menu-mobile {
    @media (min-width: em($tablet)) {
      display: none;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: em($mobile)) {
      display: none;
    }
  }

  &__nav-list {
    @media (max-width: em($tablet)) {
      display: none;
    }
  }
}
