@use '../../utils/variables' as *;
@use '../../utils/functions' as *;
@use '../../utils/mixins' as *;

.steps {
  padding: 80px 0;

  &__head {
    display: grid;
    grid-template-columns: minmax(300px, 500px) minmax(auto, 600px);
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(#fff, .3);

    @media (max-width: em($tablet)) {
      grid-template-columns: 1fr;
    }
  }

  &__head-text {
    max-width: 600px;
    margin-left: auto;
  }
}