@use '../../utils/variables' as *;
@use '../../utils/functions' as *;
@use '../../utils/mixins' as *;

.action {
    &__main {
        display: grid;
        grid-template-columns: minmax(auto, pxToRem(640)) auto;
        justify-content: space-between;
        gap: pxToRem(60);

        @media (max-width: em($tablet)) {
            gap: pxToRem(30);
        }

        @media (max-width: em($mobile)) {
            grid-template-columns: 1fr;
        }
    }

    &__title {
        margin-bottom: 20px;

        @media (max-width: em($mobile)) {
            margin-bottom: 10px;
        }
    }
}