@use '../../utils/variables' as *;
@use '../../utils/functions' as *;
@use '../../utils/mixins' as *;

.info {
  &__main {
    display: grid;
    grid-template-columns: auto minmax(auto, pxToRem(540));
    gap: pxToRem(60);

    @media (max-width: em($tablet)) {
      grid-template-columns: 1fr;
      gap: pxToRem(40);
    }

    @media (max-width: em($mobileSmall)) {
      gap: pxToRem(30);
    }
  }

  &__content {
    @media (min-width: em($tablet)) {
      padding-right: pxToRem(60);
      border-right: 1px solid rgba(#fff, 0.3);
    }

    @media (max-width: em($mobileSmall)) {
      padding-bottom: pxToRem(20);
      border-bottom: 1px solid rgba(#fff, 0.3);
    }
  }

  &__title {
    margin-bottom: pxToRem(15);

    @media (max-width: em($mobileSmall)) {
      margin-bottom: pxToRem(8);
    }
  }
}