@use '../../utils/variables' as *;
@use '../../utils/functions' as *;
@use '../../utils/mixins' as *;

.promo {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px 0;
  overflow: hidden;
  
  &.section {
    margin-top: 65px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    height: 100%;
  }

  &__title {
    margin-bottom: 5px;

    @media (max-width: em($mobile)) {
      max-width: pxToRem(520);
    }
  }

  &__text {
    margin-bottom: 15px;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 1;
    margin: 0 auto;
    padding: 0 15px;
    @include adaptiveValue('padding-bottom', 140, 40);


    @media (max-width: em($mobile)) {
      flex-direction: column;
      justify-content: center;
      gap: 30px;
    }
  }

  &__decor {
    @media (min-width: em($mobile)) {
      position: absolute;
      top: 45%;
      transform: translate(0, -50%);
      z-index: -1;
      @include adaptiveValue('width', 1200, 460);
      @include adaptiveValue('right', -320, -80);
    }

    @media (max-width: em($mobile)) {
      top: 40%;
    }
  }

  &__img {
    max-width: 680px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: em($mobileSmall)) {
      flex-direction: column;
      gap: 10px;
    }
  }
}